/* Reset some default styles */
body,
h1,
form {
  margin: 0;
  padding: 0;
}

/* Center content on the page */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #8165aa;
}

/* Style the login container */
.login-container {
  background-color: #e8cee2;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Style the "Login" heading */
.login-heading {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  color: #0c437f;
  margin-bottom: 10px;
}

/* Style the input fields and button */
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #062b52;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #aa5392;
  transform: scale(1.05);
}

/* Pulse animation for the "Login" heading */
.login-heading {
  animation: pulse 1.5s infinite; /* Add pulse animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
